
<h1>Eat the burger!!!</h1>


<ol>
	{{#each burgers}}
		<li>{{name}}</li>
	{{/each}}
</ol>





<form class="add-burger-form">

  <div class="form-group">
    ​<textarea id="txtArea" rows="10" cols="70"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>